# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# SQLite database
app_data.db

# OS files
.DS_Store
Thumbs.db

# VS Code (optional)
.vscode/

# Buildozer & Android artifacts
.buildozer/
bin/